

/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    font-family: 'Poppins', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #212112;
	background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg');
	background-position: center;
	background-repeat: repeat;
	background-size: 7%;
	background-color: #fff;
	overflow-x: hidden;
    transition: all 200ms linear;
}
::selection {
	color: #fff;
	background-color: #8167a9;
}
::-moz-selection {
	color: #fff;
	background-color: #8167a9;
}


/* #Navigation
================================================== */
nav
{
	background-color: white;
}
.navbar
{
    background-color: rgb(0,0,0,0);
    border:0 !important;
}
.navbar-brand
{
	margin-bottom:10px;
}
.navbar-nav
{
    margin-left: auto;
    flex-direction: row !important;
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.navbar-button
{
    outline:none !important;
    border: 1px;
    background: white;
    align-items: center;
    text-align: center;   
}
.searchbar
{
   margin-left: 10px;
   width: 300px;
   height: 40px;
   border-radius: 5px;
   padding:1rem;
   outline: none; 
}
.nav-item
{
	cursor: pointer;
	border-radius: 10px;
	transition: .2s ease-in;
}
.nav-item:hover
{
	background-color:#007bff;
}
.dropdown
{
  cursor: pointer;
}
.dropdown:hover .options
{
  display:initial;

}
.options:hover
{
  display: initial;
}
.options
{
  position: absolute;
  left:-10px;
  top: 35px;
  background-color: white;
  width: auto;
  padding-left: 1rem;
  list-style:none; 
  display: none; 
}
.options li
{
  margin:8px; 
  border-radius: 10px;
  transition: .2s ease-in;
}
.options li:hover
{
  background-color:#007bff;
}
.searchbar--hide
{
  display: none;
}
/* #Side Navigatiom
================================================== */
.nav__side__container
{
  background-color: white;
  position: fixed;
  width: 80px;
  padding:0;
  height: 100vh;
  z-index: 100;
  margin-top: 1px;
  border:2px solid white;
  box-shadow: 1px 2px 3px black;
  border-top: 0;
  transition: .3s ease-in;
}
.nav__side
{
  width: 100%;
  margin:0;
  margin-top: 4px;
  background-color :white; 
}
.text
{
  display: none;
}
.line
{
  border-top: 2px solid black;
  width: 80%;
  margin-left: 10px;
  margin-bottom: 10px;
}
.nav__item
{
  list-style: none;
  margin-top: 10px;
  height: 100vh;
  padding: 0;
}
.nav__list
{
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 1.2rem;
  height: 3rem;
}
.side__nav-link:hover
{
  width: 100%;
  display: block;
  background-color: #80808047;
  text-decoration: none;
}
.full__container
{
	margin-left:80px;  
}

.container-fluids
{
    width: 100%;
  	padding:0 10px;
	 position: relative; 
}
/* #Slider 1 and slider2 style
================================================== */
.container-fluid
{
    width: 90%;
    margin:0 auto;

    padding: 0 0;
    overflow: hidden;
    position: relative;
}
.slider1,
.slider2
{
  height: 380px;
  transition: transform .8s ease-in;
  transform: translateX(0px);
}
.button
{
  position: absolute;
  top: 30%;
  background-color: white;
  height:0;
  width: 0;
  padding: 0;
  margin:0; 
  outline: none;
  z-index: 200;

}
.button__prev1,
.button__prev2
{
  display: none;
  left: 3%;
}
.button__prev1::before,
.button__prev2::before

{
  content: url("data:image/svg+xml,%3csvg width='40px' height='40px' viewBox='0 0 70 70' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3ccircle id='path-1' cx='30' cy='30' r='30'%3e%3c/circle%3e%3cfilter x='-12.5%25' y='-9.2%25' width='125.0%25' height='125.0%25' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeMorphology radius='0.5' operator='dilate' in='SourceAlpha' result='shadowSpreadOuter1'%3e%3c/feMorphology%3e%3cfeOffset dx='0' dy='2' in='shadowSpreadOuter1' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'%3e%3c/feComposite%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.20105865 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Version-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Chevron-Left' transform='translate(35.000000%2c 33.000000) scale(-1%2c 1) translate(-35.000000%2c -33.000000) translate(5.000000%2c 3.000000)'%3e%3cg id='Oval-2'%3e%3cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3e%3c/use%3e%3cuse stroke='%23E5E5E5' stroke-width='1' fill='white' fill-rule='evenodd' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3cpolyline id='Path-3' stroke='%232F9BDB' stroke-width='2' points='26 22 35.1927962 31.1927962 26.0417983 40.3437941'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  width: 40px;
  height: 40px;
  outline: none;
}
.button__next1,
.button__next2
{
  left: 92.3%;
}
.button__next1::before,
.button__next2::before
{
  content:url("data:image/svg+xml,%3csvg width='40px' height='40px' viewBox='0 0 70 70' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3ccircle id='path-1' cx='30' cy='30' r='30'%3e%3c/circle%3e%3cfilter x='-12.5%25' y='-9.2%25' width='125.0%25' height='125.0%25' filterUnits='objectBoundingBox' id='filter-2'%3e%3cfeMorphology radius='0.5' operator='dilate' in='SourceAlpha' result='shadowSpreadOuter1'%3e%3c/feMorphology%3e%3cfeOffset dx='0' dy='2' in='shadowSpreadOuter1' result='shadowOffsetOuter1'%3e%3c/feOffset%3e%3cfeGaussianBlur stdDeviation='2' in='shadowOffsetOuter1' result='shadowBlurOuter1'%3e%3c/feGaussianBlur%3e%3cfeComposite in='shadowBlurOuter1' in2='SourceAlpha' operator='out' result='shadowBlurOuter1'%3e%3c/feComposite%3e%3cfeColorMatrix values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.20105865 0' type='matrix' in='shadowBlurOuter1'%3e%3c/feColorMatrix%3e%3c/filter%3e%3c/defs%3e%3cg id='Version-2' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3e%3cg id='Chevron-right' transform='translate(5.000000%2c 3.000000)'%3e%3cg id='Oval-2'%3e%3cuse fill='black' fill-opacity='1' filter='url(%23filter-2)' xlink:href='%23path-1'%3e%3c/use%3e%3cuse stroke='%23E5E5E5' stroke-width='1' fill='white' fill-rule='evenodd' xlink:href='%23path-1'%3e%3c/use%3e%3c/g%3e%3cpolyline id='Path-3' stroke='%232F9BDB' stroke-width='2' points='26 22 35.1927962 31.1927962 26.0417983 40.3437941'%3e%3c/polyline%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
  width: 40px;
  height: 40px;
  outline: none;
}
.card
{
  position: absolute;
  width: 31%;
  border-radius: 10px;
}
.card-img-top
{
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-title
{
  margin: 0;
  padding-left: .8rem;
}
.card-body
{
  padding: .8rem;
}

/* #Primary style
================================================== */

.bg-light {
	background-color: #fff !important;
    transition: all 200ms linear;
}
.section {
    position: relative;
	width: 100%;
	display: block;
}
.full-height {
    height: 100vh;
}
.over-hide {
    overflow: hidden;
}
.absolute-center {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
  margin-top: 40px;
	transform: translateY(-50%);
	z-index: 20;
}
h1{
	font-size: 48px;
	line-height: 1.2;
	font-weight: 700;
	color: #212112;
	text-align: center;
}
p{
	text-align: center;
	margin: 0;
	padding-top: 10px;
	opacity: 1;
	transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}
body.hero-anime p{
	opacity: 0;
	transform: translateY(40px);
    transition-delay: 1700ms;
}
h1 span{
	display: inline-block;
    transition: all 300ms linear;
	opacity: 1;
	transform: translate(0);
}
body.hero-anime h1 span:nth-child(1){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(2){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(3){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(4){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(5){
	opacity: 0;
	transform: translateY(-50px);
}
body.hero-anime h1 span:nth-child(6){
	opacity: 0;
	transform: translateY(-20px);
}
body.hero-anime h1 span:nth-child(7){
	opacity: 0;
	transform: translateY(-40px);
}
body.hero-anime h1 span:nth-child(8){
	opacity: 0;
	transform: translateY(-10px);
}
body.hero-anime h1 span:nth-child(9){
	opacity: 0;
	transform: translateY(-30px);
}
body.hero-anime h1 span:nth-child(10){
	opacity: 0;
	transform: translateY(-20px);
}
h1 span:nth-child(1){
    transition-delay: 1000ms;
}
h1 span:nth-child(2){
    transition-delay: 700ms;
}
h1 span:nth-child(3){
    transition-delay: 900ms;
}
h1 span:nth-child(4){
    transition-delay: 800ms;
}
h1 span:nth-child(5){
    transition-delay: 1000ms;
}
h1 span:nth-child(6){
    transition-delay: 700ms;
}
h1 span:nth-child(7){
    transition-delay: 900ms;
}
h1 span:nth-child(8){
    transition-delay: 800ms;
}
h1 span:nth-child(9){
    transition-delay: 600ms;
}
h1 span:nth-child(10){
    transition-delay: 700ms;
}
body.hero-anime h1 span:nth-child(11){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(12){
	opacity: 0;
	transform: translateY(50px);
}
body.hero-anime h1 span:nth-child(13){
	opacity: 0;
	transform: translateY(20px);
}
body.hero-anime h1 span:nth-child(14){
	opacity: 0;
	transform: translateY(30px);
}
body.hero-anime h1 span:nth-child(15){
	opacity: 0;
	transform: translateY(50px);
}
h1 span:nth-child(11){
    transition-delay: 1300ms;
}
h1 span:nth-child(12){
    transition-delay: 1500ms;
}
h1 span:nth-child(13){
    transition-delay: 1400ms;
}
h1 span:nth-child(14){
    transition-delay: 1200ms;
}
h1 span:nth-child(15){
    transition-delay: 1450ms;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.dropdown-toggle::after {
	display: none;
}

.dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.dropdown-item:hover, 
.dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}

body.dark{
	color: #fff;
	background-color: #1f2029;
}
body.dark .navbar-brand img{
  filter: brightness(100%);
}
body.dark h1{
	color: #fff;
}
body.dark h1 span{
    transition-delay: 0ms !important;
}
body.dark p{
	color: #fff;
    transition-delay: 0ms !important;
}
body.dark .bg-light {
	background-color: #14151a !important;
}
body.dark .start-header {
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}
body.dark .start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}
body.dark .nav-link{
	color: #fff !important;
}
body.dark .nav-item.active .nav-link{
	color: #999 !important;
}
body.dark .dropdown-menu {
	color: #fff;
	background-color: #1f2029;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}
body.dark .dropdown-item {
	color: #fff;
}
body.dark .navbar-light .navbar-toggler-icon {
	border-bottom: 1px solid #fff;
}
body.dark .navbar-light .navbar-toggler-icon:after, 
body.dark .navbar-light .navbar-toggler-icon:before{
	background-color: #fff;
}
body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}



/* #Media
================================================== */

@media (max-width: 767px) { 
	h1{
		font-size: 38px;
	}
	.nav-item:after{
		display: none;
	}
	.nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	body.dark .nav-item::before {
		background-color: #fff;
	}
	body.dark .dropdown-toggle::after {
		background-color: #fff;
	}
	body.dark .dropdown-menu {
		background-color: transparent;
		box-shadow: none;
	}
}

/* #Link to page
================================================== */

.logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}
body.dark .logo img {
  filter: brightness(100%);
}